<div class="card mb-4">
    <img class="card-img-top" src="https://blog.cyberpanel.net/wp-content/uploads/2019/03/express-js-cyberpanel.jpeg"
        alt="Card image cap" width="400">
    <div class="card-body">
        <h4 class="card-title">ExpressJS</h4>
    </div>
    {{#if user}}
    <div class="card-footer">
        <a href=""><button type="button" class="btn btn-info">Details</button></a>
        <small class="float-right">Date...</small>
    </div>
    {{/if}}
</div>